*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: monospace;
}

.main{
        height: 100%;
        width: 100%;
        background-color: #000;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
}

.card{
    height: 400px;
    width: 300px;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.card img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h3{
    font-size: 2rem;
}

.card h4{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    color: darkblue;
}

.card p{
    font-size: 15px;
    font-weight: 500;
}

.card button{
    padding: 10px 30px;
    background-color: royalblue;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-top: 5px;
     transition: all 0.3s ease;
}

.card button:hover{
    border: 1px solid black;
}

.card button:active{
    scale: 0.95;
}