*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;

}

.card{
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 50px 30px;
}
.card p{
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 20px;
}
.card span{
    color: blue;
    font-weight: 800;
}

.outer{
    height: 20px;
    width: 100%;
    background-color: rgb(184, 184, 184);
    border-radius: 50px;
}

.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:20px ;
}

.bottom h2{
    font-size: 5rem;
}

.bottom button{
    padding: 15px 30px;
    background-color: green;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.bottom button:active{
    scale: 0.95;
}