*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
   
}

.box{
    height: 200px;
    width: 400px;
    background-color: rgb(193, 193, 193);
    border-radius: 50px;
    font-size: 3rem;
    font-weight: 600;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}