*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: monospace;
    
}

.elem{
    margin: 20px;
    height: 15%;
    width: 30%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

button{
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 600;
    background-color: royalblue;
    /* border: none;
    outline: none; */
    border-radius: 10px;
}

