*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: #000;
    cursor: none;
    box-sizing: border-box;
    cursor: none;

}
body::-webkit-scrollbar{
    overflow: hidden;
    scrollbar-width: none;
}
#cursor{
    height: 60px;
    position: fixed;
    transform: translate(-50%,-50%);
}

.d1{
    height: 100%;
    width: 100%;
}

.dd{
    background-color: palegreen;
    height: 100%;
    width: 100%;
}